body {
  overflow: hidden;
}
.sticky-header {
  thead tr th {
    position: sticky;
    z-index: 1;
    background: #fff;
  }

  /* this will be the loading indicator */
  thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
  }
  thead tr:first-child th {
    top: 0;
  }

  /* prevent scrolling behind sticky top row on focus */
  tbody {
    /* height of all previous header rows */
    scroll-margin-top: 48px;
  }
}

.q-table tr th {
  font-weight: bold;
}
